[submodule "java-spring-service"]
	path = java-spring-service
	url = https://github.com/Gitch14/java-spring-service
[submodule "python-translate-api"]
	path = python-translate-api
	url = https://github.com/Gitch14/python-translate-api
